*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  box-sizing: inherit;
}




button {
  background-color: transparent;
  border: none;
}

button >  i {
  font-size: 2rem;
  font-weight: normal;
}

.main-container {
  background-color: rgb(135, 181, 181);
  min-height: 100vh;
  display: flex;
  padding: 2rem;
}


